<%- include('../layout/head.ejs',{title:"Dashboard"}) %>
    <%- include('../layout/header.ejs') %>
        <%- include('../layout/sidebar.ejs') %>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
               
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Quản lý thành viên</li>
                    </ol>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Quản lý thành viên</h1>
                    </div>
                </div><!--/.row-->
                <a name="" id="" class="btn btn-primary" href="/admin/users/create" role="button" style="margin-bottom: 10px;">+ Thêm User</a>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Họ tên</th>
                            <th>Chức vụ</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function (item,i=0) {%>
                            <tr>
                                <td scope="row">
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.password %>
                                </td>
                                <td>
                                    <%= item.full_name %>
                                </td>
                                <td>
                                    <%= item.role %>
                                </td>
                                <td><a name="" id="" class="btn btn-success" href="/admin/users/edit/<%= item._id %>"
                                        role="button">Edit</a>
                                    <a name="" id="" class="btn btn-danger" href="/admin/users/del/<%= item._id %>"
                                        role="submit">Del</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <% if(hasPrev){ %>
                        <li class="page-item">
                          <a class="page-link" href="/admin/users?page=<%=prev%>" aria-label="Previous">
                            <span>&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                      <% } %>
                      
                      <% for(i of pages){ %>
                          <li class="page-item">
                            <a class="page-link" href="/admin/users?page=<%=i%>">
                              <%= i %>
                            </a>
                          </li>
                      <% } %>
          
                      <% if(hasNext){ %>
                        <li class="page-item">
                          <a class="page-link" href="/admin/users?page=<%=next%>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>



            </div>


            <%- include('../layout/footer.ejs') %>